.playground {
  width: 850px;
  // height: 1000px;
  display: grid;
  margin: auto;

  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 200px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
